.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
.scrollmenu a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px;
    vertical-align: middle;
    text-decoration: none;
    
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.scrollmenu::-webkit-scrollbar {
    display: none;
}
  
.scrollmenu a:hover {
    background-color: #777;
}

.head{
    display: flex;
    justify-content: space-between;
}