.wrapper{
    /* max-height: 0px; */
    border: 1px solid rgb(255, 0, 0);
    display: flex;
    overflow: auto;
    align-items: center;
}

.wrapper::-webkit-scrollbar{
    width:0;
}

.text-ellipsis{
    white-space: nowrap; 
  width: 150px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
